.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    z-index: 9999; 
    
    background: rgba(255, 255, 255, 0.6); 
    border-bottom: 1px solid #ddd;
}

.nav {
    display: flex;
    justify-content: right;
    gap: 35px;
    padding: 20px;
    margin-right: 20px
    
}

.nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.nav a:hover {
    color: #94B4FF;
}