.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: all 0.3s ease;

    z-index: 9999; 
    
    background: rgba(255, 255, 255, 0.6); 
    border-bottom: 1px solid #ddd;
}

.nav {
    display: flex;
    justify-content: right;
    gap: 35px;
    padding: 20px;
    margin-right: 20px
    
}

.nav a {
    position: relative;
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: transform 0.2s ease, color 0.2s ease;
}

.nav a:hover {
    transform: translateY(-4px);
}

.nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0%;
    height: 2px;
    background-color: #94B4FF;
    transition: width 0.3s ease;
}

.nav a:hover::after {
    width: 100%;
}