.btn {
    padding: 10px 20px;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.btn-submit {
    margin-top: 200px;
    background: #94B4FF;
    color: white;
    width: 200px;
    height: 50px;
    border-radius: 999px;

    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-submit:hover {
    background: #7fa3f5;
}