.btn {
    padding: 10px 20px;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.btn-submit {
    background: #94B4FF;
    color: white;
    width: 260px;
    height: 60px;
    border-radius: 999px;
    font-size: 18px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-submit:hover {
    background: #7fa3f5;
    transform: scale(1.03);
}